p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto;
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 400;
}

ul {
    list-style-type: none;
    margin-left: -2.5rem;
}

.nav-bar {
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding: 5px;
    padding-top: 10px;
}

.nav-bar img {
    width: 200px;
}

.nav-bar a {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1C539F;
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.profile img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width: 180px;
    max-height: 60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.footer .footer-content {
    color: white;
    font-weight: 400;
}

.map section {
    margin-bottom: 20px;
}

#map {
    height: 400px;
    width: 100%;
}

.hobbies h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.hobbies img {
    width: 300px;
}

.post {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 16px;
}

.post img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post .text {
    display: flex;
    flex-direction: column;
}

.post .meta {
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.post .name {
    margin: 0;
}

.post .datetime {
    margin: 0;
    color: gray;
    font-size: 14px;
    font-weight: normal;
}

.post .content {
    margin: 5px 0 0 0;
}