{% extends "layout.html" %}

{% block content %}
    <div class="hobbies">
        <h1>Hobbies</h1>
        {% for hobby in hobbies.hobby_list %}
        <section>
            <h2>{{ hobby.title }} </h2>
            {% if hobby.image_src %}
            <img src= {{ hobby.image_src }}>
            <p>{{ hobby.image_description }}</p>
            {% endif %}
            <ul>
                {% for description in hobby.details %}
                <li>{{ description }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endfor %}
    </div>
{% endblock content %}