<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:title" content="Personal Portfolio">
        <meta property="og:description" content="My Personal Portfolio">
        <meta property="og:url" content="{{ url }}">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
        <title>{{ title }}</title>
    </head>
    <body>
        <header class="nav-bar">
            <a href="{{url_for('index')}}">
                <img src="./static/img/logo.svg" />
            </a>
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('profile_summary')}}">Summary</a>
            <a href="{{url_for('hobbies')}}">Hobbies</a>
            <a href="{{url_for('map')}}">Map</a>
        </header>

        {% block content %}
        {% endblock content %}

        <footer class="footer">
            <div class="footer-content">
                <p>© {{ current_year }} {{ footer_data.name }}. All rights reserved.</p>
                <p>Follow me on:
                    {% for link in footer_data.social_links %}
                    <a href="{{ link.url }}" target="_blank">{{ link.platform }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        </footer>
    </body>
</html>