{% extends "layout.html" %}

{% block content %}
    <div class="map">
        <section>
            <h3>My Travel Map</h3>
            <p>Here is a map with all the places I have visited. Click on the markers to see the place names.</p>
            <p>Note: The map is centered on Ireland, but you can zoom in and out to see the markers for each place.</p>
            <div id="map"></div>
            <!-- Render Jinja variables into JavaScript -->
            <script>
                const positions = {{ places| tojson}};
                const API_KEY = "{{ API_KEY }}";
            </script>
            <!-- use the variables defined above to render the map -->
            <script src="{{ url_for('static', filename='js/map.js') }}"></script>
        </section>
    </div>
{% endblock content %}